<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('教师列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: bootstrap-select-css"/>
    <th:block th:include="include :: bootstrap-editable-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <form id="score-form">
        <div class="container-div">
            <div class="row">
                <div class="btn-group-sm" id="toolbar" role="group">
                    <label>考试名称：</label>
                    <select name="examId" id="examId" class="select-list" data-width="160">
                        <option value="">请选择考试...</option>
                        <option th:each="e:${exam}" th:value="${e.examId}" th:text="${e.examName}"
                                th:title="${e.examName}" th:selected="${eStat.index}==0"></option>
                    </select>
                    <label>班级名称：</label>
                    <select name="classId" id="classId" class="select-list" data-width="100">
                    </select>
                    <a class="btn btn-info" onclick="$.table.importExcel()">
                        <i class="fa fa-upload"></i> 导入
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()">
                        <i class="fa fa-download"></i> 导出
                    </a>
                    <a th:if="${classId} != null" class="btn btn-success" onclick="showStudentScore()">
                        <i class="fa fa-archive"></i> 本班成绩
                    </a>

                </div>

                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">

    var prefix = ctx + "info/score";

    $(function () {
        $("#examId").selectpicker();
        $("#classId").selectpicker();
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        selectClass(true);
    });
    function showStudentScore(){
        $.modal.open("查看本班成绩", prefix + "/show/" + [[${classId}]], 1024);
    }

    $('#examId').on('changed.bs.select', function () {
        if ($("#examId option:selected").val() == ""){
            return;
        }
        selectClass(false);
    });

    $('#classId').on('changed.bs.select', function () {
        $.table.search();
    });

    function selectClass(flag) {
        var examId = $("#examId option:selected").val();
        $.post(prefix + "/class", {examId: examId}, function (data) {
            var _this = $("#classId");
            _this.empty();
            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    _this.append("<option selected='true' value='" + data[i].classId + "'>" + data[i].className + "</option>");
                } else {
                    _this.append("<option value='" + data[i].classId + "'>" + data[i].className + "</option>");
                }
            }
            _this.selectpicker("refresh");
            if(flag){
                queryExamList();
            }else{
                $.table.search();
            }
        });
    }

    function queryExamList() {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            sortName: "userId",
            sortOrder: "asc",
            modalName: "成绩",
            onEditableSave: onEditableSave,
            columns: [
                {
                    field: 'id',
                    title: '学生id',
                    visible: false
                }, {
                    field: 'userId',
                    title: '学号',
                    sortable: true,
                    align: 'center'
                },
                {
                    field: 'subjectId',
                    title: '考试科目id',
                    visible: false
                },
                {
                    field: 'userName',
                    title: '学生姓名',
                    align: 'center'
                },
                {
                    field: 'subjectName',
                    title: '考试科目',
                    align: 'center'
                },
                {
                    field: 'score',
                    title: '分数',
                    sortable: true,
                    align: 'center',
                    editable: {
                        type: 'text',
                        title: '分数',
                        validate: function (value) {
                            if (value.length > 30) {
                                return '分数不能为空';
                            }
                            if (value.length == 0) {
                                return '分数不能为空';
                            }
                        }
                    }
                },
                {
                    field: 'examDate',
                    title: '考试日期',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return row.startDate + ' 至 ' + row.endDate;
                    }
                }]
        };
        $.table.init(options);
    }

    function onEditableSave(field, row, oldValue, $el) {
        if(row[field] == oldValue){
            return;
        }else{
            $.post(prefix + "/update", row, function (data) {
                $.table.search();
            });
        }
    }

</script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
                &nbsp; <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i
                    class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>