<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.management.mapper.LoginMapper">

    <resultMap type="Login" id="LoginResult">
        <id     property="userId"     column="user_id"     />
        <result property="loginName"   column="login_name"   />
        <result property="userName"   column="user_name"   />
        <result property="perms"   column="perms"   />
        <result property="gradeId"     column="grade_id"      />
        <result property="avatar"   column="avatar"      />
    </resultMap>

    <select id="loginAuth" resultMap="LoginResult">
        SELECT u.user_id, u.login_name, u.user_name, u.perms, u.avatar, (select g.id from grade g where u.user_id = g.leader)
        grade_id FROM user u where u.login_name = #{username} and u.password = #{password}
    </select>
</mapper>