<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.management.mapper.info.SubjectMapper">

    <resultMap type="Subject" id="SubjectResult">
        <id     property="subjectId"       column="subject_id"      />
        <id     property="subjectNumber"       column="subject_number"      />
        <result property="subjectName"    column="subject_name"   />
        <result property="elective"     column="elective"    />
        <result property="createTime"   column="create_time"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <select id="maxSubjectNumber" resultType="Long">
        select Max(subject_number) from subject
    </select>

    <select id="selectExamineSubjectList" resultMap="SubjectResult" parameterType="String">
        SELECT s.id subject_id, s.subject_name FROM SUBJECT s WHERE FIND_IN_SET( s.id,( SELECT e.subject_ids FROM
	    exam e WHERE e.id = #{examId})) > 0
    </select>

    <select id="selectExamSubjectList" resultMap="SubjectResult" parameterType="Teacher">
        select id subject_id, subject_name, elective, create_time, remark
        from subject s where #{perms}  &lt;= 2
        <if test="perms != null and perms != '' and perms gte 2 and perms lte 2">
            AND FIND_IN_SET (
            s.id,
            (SELECT subject_id subject_ids FROM teacher WHERE teacher_id = #{Id})
            ) > 0
        </if>
        order by create_time asc
    </select>

    <delete id="deleteSubjectByIds" parameterType="String">
        delete from subject where id in
        <foreach collection="array" item="subjectId" open="(" separator="," close=")">
            #{subjectId}
        </foreach>
    </delete>

    <insert id="insertSubject" parameterType="Subject" useGeneratedKeys="true" keyProperty="subjectId">
        insert into subject(
        <if test="subjectId != null and subjectId != ''">id,</if>
        <if test="subjectNumber != null and subjectNumber != ''">subject_number,</if>
        <if test="subjectName != null and subjectName != ''">subject_name,</if>
        <if test="elective != null and elective != ''">elective,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="subjectId != null and subjectId != ''">#{subjectId},</if>
        <if test="subjectNumber != null and subjectNumber != ''">#{subjectNumber},</if>
        <if test="subjectName != null and subjectName != ''">#{subjectName},</if>
        <if test="elective != null and elective != ''">#{elective},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updateSubject" parameterType="Subject">
        update subject
        <set>
            <if test="elective != null and elective != ''">elective = #{elective},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </set>
        where id = #{subjectId}
    </update>

    <select id="selectSubjectList" parameterType="Subject" resultMap="SubjectResult">
        select id subject_id, subject_number, subject_name, elective, create_time, remark
        from subject order by create_time asc
    </select>

    <select id="selectSubjectById" parameterType="Subject" resultMap="SubjectResult">
        select id subject_id, subject_name, elective, create_time, remark
        from subject where id = #{subjectId}
    </select>

    <select id="checkSubjectNameUnique" parameterType="String" resultType="String">
        select count(1) from subject where subject_name=#{subjectName}
    </select>

</mapper>